<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
  <p>The delete user and user index api routes are restricted to users with the 'admin' role.</p>
  <div class="card blue-grey darken-1" ng-repeat="user in users">
    <div class="card-content white-text">
      <span class="card-title">
        {{user.name}}
      </span>
      <p>
        {{user.email}}
      </p>
      <div class="card-action">
        <a href="#" ng-click="delete(user)">Delete</a>
      </div>
    </div>
  </div>
</div>